<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('homepage') }}">ISO Management</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_users_index') }}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_documents_index') }}">Documents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_audit_index') }}">Audits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_security_incident_index') }}">Security Incidents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_risk_index') }}">Risks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_asset_index') }}">Assets</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-4">
            {% block body %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
